{{ define "main" }} {{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">Book reviews</h1>
<div>Just collection of random stuff I wanted to write down.</div>
{{ end }}
<script src="{{ .Site.BaseURL }}js/main.js"></script>
<ul class="posts" id="books">
    {{- range .Pages -}} {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}

    <li class="bookItem" id="{{.Params.order}}">
        <a href="{{.RelPermalink}}"> <h1>{{.Title}}</h1></a>
        <div class="book-review">
            <img class="nahled" src="{{.Params.image}}" />
            <div>{{.Summary}}</div>
        </div>
    </li>
    {{- end -}} {{- end -}}
</ul>
{{ end }}
