@import "tailwindcss/base";
@import "tailwindcss/components";

@font-face {
  font-family: "Aliee";
  src: url(/fonts/aliee13.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Consola";
  src: url(/fonts/CONSOLA.TTF);
}

@import "tailwindcss/utilities";

a {
  @apply text-neon-orange;
}

a:hover {
  @apply underline;
}

span,
p {
  @apply font-light;
}

/* Styles for lazy loaded images */
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 500ms ease-in, -webkit-filter 500ms ease-in;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
